<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/images/user2.PNG" id="icon" alt="User Icon">
    </div>

    <!-- Login Form -->
    <mat-card>
    <form (submit)="loginUser($event)">
      <mat-form-field>
        <input matInput type="text" class="fadeIn second" name="login" placeholder="login">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" class="fadeIn third" name="login" placeholder="password">
      </mat-form-field>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </mat-card>

    <!-- Remind Passowrd -->
    <!--div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div-->

  </div>
</div>