.main{
    width: auto;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #d7d7d7;
    border-bottom: 0px;
    margin-top: 20px;
    font-family: sans-serif;
    
} 
label{
    font-family: sans-serif;
    font-size: large;
}

h1{
    text-align: center;
    background-color: #5c8297;
    padding: 30px 0px;
    margin-top: 0px;
    color: white;   
}

.addItem{
    position: relative;
    padding-bottom: 0px;
    height: 30px;

}

.createProject {
    border-bottom: 1px solid #bfbfbf;
    background-color: #d7d7d7;
    padding: 10px 0px;
    margin-bottom: 5px;
    justify-content: center;
    
}
.createProject button{
    border-bottom: 1px solid #bfbfbf;
    background-color: #d7d7d7;
    padding: 10px 0px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    font-size: 20px;
    color: #686868;
    margin-bottom: 0px;
    /*margin-left: -40px;*/
}

/*li{
    border-bottom: 1px solid #bfbfbf;
    /*background-color: #d7d7d7;*/
    /*padding: 10px 0px;*/
    /*margin-bottom: 5px;
}*/

span{
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 10px;
    
}

.descripcion_input{
    width: 90%;
}


.form-control{
    margin-bottom: 10px;
  }